.gg-body {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background-color: #f5f5f5; 
}
.ss-body {
  padding: 5px;
  display: flex;
  align-items: center;  
  justify-content: center;
}




.main-content {
  margin-left: 260px;
  flex-grow: 10;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}



.page-content {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
  background-color: #f5f5f5;
}

