.sidebar {
  width: 250px;
  height: calc(100vh - 20px);
  background-color: #000;
  color: #fff;
  padding: 20px;
  display: flex;
  margin: 10px;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 15px;
  border: 3px solid rgb(158, 158, 158);

  /* Hide scrollbar in Firefox & Edge */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.user-info{
  display: flex;
  flex-direction: row;
  color: gray;
}

/* Hide scrollbar in WebKit browsers (Chrome, Safari) */
.sidebar::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

/* Scrollbar track (won't show but kept clean) */
.sidebar::-webkit-scrollbar-track {
  background: transparent;
}

/* Scrollbar thumb (in case shown in fallback or on hover versions) */
.sidebar::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 4px;
}

/* Icon style */
.icon {
  margin-right: 10px;
  color: white;
  vertical-align: middle;
}

/* Logo section */
.logo {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.logo img {
  height: 50px;
  margin-right: 10px;
}

.school-name span {
  font-size: 14px;
  color: gray;
}

/* Navigation list */
.nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav li {
  padding: 10px 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* Dropdown toggle (e.g., Students, Teachers, Finance) */
.nav .dropdown-toggle {
  justify-content: space-between;
}

/* Dropdown sub-items */
.nav .dropdown {
  list-style-type: none;
  padding-left: 20px;
  font-size: 14px;
  color: gray;
  text-align: right;
}

/* Active dropdown item styling */
.nav .dropdown li.active {
  background-color: #fff;
  color: #000;
  border-radius: 5px;
}

/* Logout button styling */
.logout {
  margin-top: auto;
}

.logout button {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  margin-top: 50px;
}
