*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  font-family: 'Inter', sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media print {
  body * {
    visibility: hidden;
  }
  #marksheet, #marksheet * {
    visibility: visible;
  }
  #marksheet {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
