@tailwind base;
@tailwind components;
@tailwind utilities;



:root{
  --color-primary: #0f172a; 
  --color-muted: #6b7280;  
  --color-danger: #dc2626;

  --font-family: 'Teachers', ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  --scale-base: 16px;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-family);
  color: var(--color-primary);
  background: white;
  line-height: 1.5;
}

.card {
  @apply bg-white rounded-2xl shadow-sm;
}



::-webkit-scrollbar {
  height: 2px;
}
::-webkit-scrollbar-track {
  background: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}